@import '~@angular/material/theming';

$sc-primary: mat-palette($mat-grey, 50);
$sc-accent:  mat-palette($mat-blue-grey, 600);
$sc-warn:    mat-palette($mat-red);
$sc-button:  mat-palette($mat-blue, 800);
$sc-accent-hover: mat-palette($mat-blue-grey, 800);

$primary: mat-color($sc-primary);
$accent: mat-color($sc-accent);
$warn: mat-color($sc-warn);
$button: mat-color($sc-button);
$accent-hover: mat-color($sc-accent-hover);

/* Dark theme color palette */
$sc-dark-primary: mat-palette($mat-green, 500);
$sc-dark-accent:  mat-palette($mat-blue-grey, 500, 400, 800);
$sc-dark-warn:    mat-palette($mat-red);
