<div
  class="tech-list"
  fxLayout="column"
  fxLayoutAlign="center center"
  fxFlex.lt-md="95"
  fxFlex="60">
  <h2 class="tech-header">tech stack</h2>
  <mat-chip-list aria-label="Technologies List">
    <div aria-label="Tech list" role="list" fxLayout="row wrap" fxLayoutAlign="center center">
      <app-tech-chip
        *ngFor="let tech of techService.techs$ | async"
        [tech]="tech">
      </app-tech-chip>
    </div>
  </mat-chip-list>
</div>
