@import 'src/styles/variables';

.toolbar-name {
  color: $accent;
  font-family: 'Work Sans', sans-serif;
}

.contact-icon {
  margin: 0em 0.5em;
}

.contact-icon:hover {
  cursor: pointer;
  color: $accent-hover;
}

h2 {
  color: $accent;
  font-family: 'Work Sans', sans-serif;
}

.main-content {
  width: 100%;
}

.social-icon {
  margin: 0em 2em;
}

.social-icon svg {
  fill: $accent;
}

.social-icon:hover #twitter-icon {
  fill: rgb(8, 160, 233);
}

.social-icon:hover #linkedin-icon {
  fill: rgb(40, 103, 178);
}

.social-icon:hover #medium-icon {
  fill: rgb(0, 0, 0);
}
