<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign.lt-md="space-between center"
  fxLayoutAlign="end center">
  <div class="contact-icons" fxLayout="row" fxLayoutAlign="space-evenly center">
    <mat-icon class="contact-icon" color="accent" (click)="toggleEmail()">mail</mat-icon>
    <h2 *ngIf="showEmail">{{email}}</h2>
  </div>
  <div class="contact-icons" fxLayout="row" fxLayoutAlign="space-evenly center">
    <h2 *ngIf="showPhone">{{phoneNum}}</h2>
    <mat-icon class="contact-icon" color="accent" (click)="togglePhone()">phone</mat-icon>
  </div>
</mat-toolbar>

<div class="main-content" fxLayout="column" fxLayoutAlign="start center">
  <app-bio fxFill></app-bio>
  <app-tech-stack fxFill></app-tech-stack>
  <div fxFill *ngFor="let project of projectService.projects$ | async">
    <app-project fxFill [project]="project"></app-project>
  </div>
</div>

<mat-toolbar
  color="primary"
  fxLayout="row"
  fxLayoutAlign.lt-md="space-around center"
  fxLayoutAlign="center center">
  <a class="social-icon" aria-label="Twitter" href="https://twitter.com/skittlesMc9">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24" height="24" viewBox="0 0 24 24">
      <path id="twitter-icon" d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/>
    </svg>
  </a>

  <a class="social-icon" aria-label="LinkedIn" href="https://www.linkedin.com/in/scott-mccartney/">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path id="linkedin-icon" d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
    </svg>
  </a>

  <a class="social-icon" aria-label="Medium" href="https://medium.com/@smccartney09">
    <svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
      <path id="medium-icon" d="M12 0c-6.626 0-12 5.372-12 12 0 6.627 5.374 12 12 12 6.627 0 12-5.373 12-12 0-6.628-5.373-12-12-12zm6.974 17.557v-.235l-1.092-1.072c-.096-.073-.144-.194-.124-.313v-7.874c-.02-.119.028-.24.124-.313l1.118-1.072v-.235h-3.869l-2.758 6.88-3.138-6.88h-4.059v.235l1.308 1.575c.128.115.194.285.176.457v6.188c.038.223-.032.451-.189.614l-1.471 1.784v.235h4.17v-.235l-1.471-1.784c-.158-.163-.233-.389-.202-.614v-5.352l3.66 7.985h.425l3.143-7.985v6.365c0 .17 0 .202-.111.313l-1.13 1.098v.235h5.49z"/>
    </svg>
  </a>
</mat-toolbar>
