<div id="bio-container" fxLayout="row" fxLayoutAlign="center center">
  <mat-card
    class="mat-elevation-z4"
    id="bio-card"
    fxFlex.lt-md="80"
    fxFlex="40">
    <mat-card-header>
      <img
        mat-card-avatar
        class="header-image"
        [src]="avatar$ | async"
        alt="Scott McCartney avatar" />
      <mat-card-title>scott mccartney</mat-card-title>
      <mat-card-subtitle>full-stack software engineer</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content *ngIf="details">
      <div class="bio-row" *ngFor="let detail of details" fxLayout="row" fxFill>
        <div fxFlex.lt-md="40" fxFlex="25">{{detail.identifier}}: </div>
        <div fxFlex>{{detail.content}}</div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
      <button mat-stroked-button id="resume-btn" (click)="downloadResume()">
        <div id ="resume-btn-content" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>cloud_download</mat-icon>
          <div>résumé</div>
        </div>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
