@import 'src/styles/variables';

#bio-container {
  margin: 1em 0em;
}

#bio-card {
  color: $accent;
  background-color: $primary;
  font-family: 'Work Sans', sans-serif;
}

.header-image {
  width: 64px;
  height: 64px;
  background-size: cover;
}

mat-card-content {
  margin-top: 1em;
}

.bio-row {
  margin: 5px 0px;
}

#resume-btn {
  color: $button;
  font-family: 'Work Sans', sans-serif;
  margin-bottom: 0.5em;
}

#resume-btn mat-icon {
  margin-right: 0.5em;
}

#resume-btn-content {
  margin: 0.5em;
}
