@import 'src/styles/variables';

mat-card {
  background-color: $primary;
  color: $accent;
  font-family: 'Work Sans', sans-serif;
  margin: auto;
}

.project-container {
  margin-bottom: 2em;
}

.project-link a {
  font-family: 'Work Sans', sans-serif;
  color: $accent;
  margin: 0.1em 0em;
  font-size: 16px;
}

.link-separator {
  margin: 0em 0.4em;
}
