<div class="project-container" fxFill>
  <mat-card class="mat-elevation-z4" fxFlex="80">
    <mat-card-title>{{project.name}}</mat-card-title>
    <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center">
      <div class="project-link" *ngIf="project.websiteUrl">
        <a href="{{project.websiteUrl}}">web</a>
      </div>
      <div class ="link-separator" *ngIf="project.websiteUrl && (project.gitUrl || project.docUrl)"> ⋅ </div>
      <div class="project-link" *ngIf="project.gitUrl">
        <a href="{{project.gitUrl}}">git</a>
      </div>
      <div class ="link-separator" *ngIf="(project.websiteUrl || project.gitUrl) && project.docUrl"> ⋅ </div>
      <div class="project-link" *ngIf="project.docUrl">
        <a href="{{project.docUrl}}">doc</a>
      </div>
    </mat-card-subtitle>

    <mat-card-content>
      <p>{{project.description}}</p>
    </mat-card-content>

    <mat-card-footer aria-label="Project tech list" role="list">
      <app-tech-chip
        *ngFor="let tech of techs"
        [tech]="tech">
      </app-tech-chip>
    </mat-card-footer>
  </mat-card>
</div>
